body {
    padding: 10px;
    margin: 2px;
    font-size: 15px;
}

h1 {
    font-size: 35px;
    padding-top: 25px;
}

header {
    background-image: url("flywheel.jpg");
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    width: 100%;
    height: 100%;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 0px;
    padding: 0px;
}

nav>a {
    display: inline-block;
    color: #000000;
    margin: 35px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    text-transform: capitalize;
    border-radius: 10px;
    text-decoration: none;
}

.active {
    background-color: #ffffff;
    color: darkblue;
}

.left {
    position: absolute;
    background-color: #0a4275;
    width: 20%;
    height: 100%;
    top: 246px;
    bottom: 100%;
}

.right {
    margin-left: 22%;
}

section {
    font-size: 20px;
}

aside img {
    width: 93%;
    height: 80px;
    display: block;
    border: 2px solid black;
    margin: 20px 5px;
    align-self: center;
    border-radius: 5px;
}

table {
    margin: auto 0;
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
}

th {
    border: 1px solid #9ACD32;
    border-bottom: 2px solid #9ACD32;
    background: #6B8E23;
    background: -moz-linear-gradient(top, #6B8E23 0%, #808000 100%);
    background: -webkit-linear-gradient(top, #6B8E23 0%, #808000 100%);
    background: -o-linear-gradient(top, #6B8E23 0%, #808000 100%);
    background: linear-gradient(top, #6B8E23 0%, #808000 100%);
    text-align: center;
    color: #ffffff;
    padding: 5px;
    font-size: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: static;
}

th:first-child {
    text-align: left;
}

tr {
    opacity: 0.8;
    text-align: center;
}

tr:first-child {
    text-align: left;
}

tr:hover {
    opacity: 1.0;
}

td {
    color: #808080;
    background: #cce9cc;
    padding: 5px;
    text-align: center;
    border-radius: 2px;
}

td:first-child {
    text-align: left;
}
